@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #21252f;
}

.footer-top a {
  color: #ffffff;
}

.footer-top a:hover {
  color: #ffffff;
}

.footer-bottom {
  background-color: #242933;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.service::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #e56399ff;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.service:hover .iconbox {
  background-color: #ffffff;
  color: #e56399ff;
}

.service:hover h5,
.service:hover p {
  color: #ffffff;
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons a {
  width: 34px;
  height: 34px;
  background-color: #e56399ff;
  border-radius: 2px solid #e56399ff;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 2px solid #e56399ff;
}

.social-icons a:hover {
  color: #e56399ff;
  background-color: transparent;
  border-color: #e56399ff;
}

.hero {
  background-image: url(../TATUAJES/hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

.contenido-blog {
  padding: 1rem;
}

@media (min-width: 768px) {
  .entrada-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.entrada-meta p {
  font-weight: 700;
}

.entrada-meta span {
  color: #e56399ff;
  font-weight: 900;
}

.navbar {
  -webkit-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.card-effect {
  -webkit-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 25px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.card-effect:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e56399ff;
  color: #ffffff;
  font-size: 32px;
  border-radius: 100px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: #21252f;
  font-weight: 700;
}

a {
  color: #21252f;
  text-decoration: none;
}

a:hover {
  color: #e56399ff !important;
}

img {
  width: 100%;
}

span {
  color: #e56399ff;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pad {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-primary {
  color: #e56399ff !important;
}

.col-img {
  background-image: url(../TATUAJES/Lumi-tatuando/LUMI.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.row {
  margin-left: 0;
}

.pricing {
  font-size: 20px;
  color: #e56399ff;
  margin-top: 8px;
}

form input.form-control {
  height: 56px;
}

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.btn {
  padding: 15px 18px;
  border-width: 2px;
  border-radius: 0;
  margin: 1rem;
  background-color: #e56399ff;
  border-color: #30343fff;
  border-radius: 2rem;
}

.btn:hover {
  background-color: #21252f;
  color: white !important;
  border-color: #30343fff;
}

@media (min-width: 768px) {
  .container-btn {
    width: 300px;
  }
}
/*# sourceMappingURL=estilos.css.map */