//BLOG//

$primary: #e56399ff;
$secondary: #30343fff;
$dark: #21252f;
$body: #888;
$white: #ffffff;
$box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);

.contenido-blog {
  padding: 1rem;
}

@media (min-width: 768px) {
  .entrada-meta {
    display: flex;
    justify-content: space-between;
  }
}
.entrada-meta p {
  font-weight: 700;
}
.entrada-meta span {
  color: $primary;
  font-weight: 900;
}

.article {
  width: auto;
  margin-top: 1rem;
  border-radius: 2rem;
  border: 1px solid;
  border-color: $primary;
}

.aside {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  h3 {
    margin-top: 0;
  }
}
