//EFECTOS//

$primary: #e56399ff;
$secondary: #30343fff;
$dark: #21252f;
$body: #888;
$white: #ffffff;
$box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);

.card-effect {
  box-shadow: $box-shadow;
  background-color: $white;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}
