//HERO//

.hero {
  background-image: url(../TATUAJES/Hero/hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO CONTAC//

.heroc {
  background-image: url(../TATUAJES/Hero/pen.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.heroc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO REGISTER//

.heror {
  background-image: url(../TATUAJES/Hero/pencial2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.heror::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO BLOG//
.herob {
  background-image: url(../TATUAJES/Hero/armtatto.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.herob::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO NOSOTROS//

.heron {
  background-image: url(../TATUAJES/Hero/tattoomachine.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.heron::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO PROYECTOS//

.herop {
  background-image: url(../TATUAJES/Hero/nosotros.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.herop::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO TEAM//

.herot {
  background-image: url(../TATUAJES/Hero/tatto3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.herot::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

//HERO COMO LLEGAR//

.herol {
  background-image: url(../TATUAJES/Hero/3699-tatuajes.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.herol::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}
