@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

@import "footer";

@import "servicios";

@import "proyectos";

@import "team";

@import "hero";

@import "blog";

@import "navbar";

@import "efectos";

$primary: #e56399ff;
$secondary: #30343fff;
$dark: #21252f;
$body: #888;
$white: #ffffff;
$box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);

//GlOBALES//
body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: $body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: $dark;
  font-weight: 700;
}
a {
  color: $dark;
  text-decoration: none;
}
a:hover {
  color: $primary !important;
}
img {
  width: 100%;
}
span {
  color: $primary;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pad {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-primary {
  color: $primary !important;
}

//NOSOTROS//

.col-img {
  background-image: url(../TATUAJES/Lumi-tatuando/LUMI.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.row {
  margin-left: 0;
}

//pricing//

.pricing {
  font-size: 20px;
  color: $primary;
  margin-top: 8px;
}

//FORM//
form input.form-control {
  height: 56px;
}

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.02);
}

//BOTON-MIXING//
@mixin boton {
  padding: 15px 18px;
  border-width: 2px;
  border-radius: 0;
  margin: 1rem;
  background-color: $primary;
  border-color: $secondary;
  border-radius: 2rem;
}

.btn {
  @include boton();
}

.btn:hover {
  background-color: $dark;
  color: white !important;
  border-color: $secondary;
}

@media (min-width: 768px) {
  .container-btn {
    width: 300px;
  }
}

.accordion-button:not(.collapsed) {
  color: $primary;
  background-color: $white;
}

.accordion-button:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.1rem $primary;
}
